<div id="loginContainer" class="login-container">
        <form onsubmit="hideLogin()">
            
            <input type="text" id="username" placeholder="Username" name="username">
            <br>
            <input type="password" id="password" placeholder="Password" name="password">
            
            <br>
            <button type="submit" value="Click to Log In">Log in</button>
            <button type="submit" value="Sign Up">Sign up</button>
        </form>
    </div>