<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title> {{title}} </title>
  </head>

  <body>
    <h1> {{title}} </h1>

    <nav>
      <div class="topnav">
        <button status="Logged Out" onclick="showLogin()">
          <a class="active" href="#home">Home</a>
        </button>
        <button status="Logged Out" onclick="showLogin()">
          <a href="#dashboard">Dashboard</a>
        </button>

        <button id="loginBtn" status="Logged Out" onclick="showLogin()">
          Log In
        </button>

      </div>
    </nav>

    {{> login}}

    {{{body}}}

  </body>
</html>