<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title> {{title}} </title>
  </head>

  <body>
    <h1> {{title}} </h1>

    <nav>
      <div class="topnav">
        <button>
          <a class="active" href="/">Home</a>
        </button>
        <button>
          <a href="/dashboard">Dashboard</a>
        </button>

        
        {{#if logged_in}}
        <button class="" id="logout">logout</button>
        {{else}}
        <button>
          <a class="hide" href="/login">Login</a>
        </button>
        {{/if}}
        

      </div>
    </nav>
  <main>
    {{{body}}}
  </main>

  <footer>
      
    </footer>

    {{#if logged_in}}
    <button>
            <script src="/js/logout.js"></script>
    </button>
  {{/if}}
  </body>
</html>