<header>
  <H1>Comment</H1>
</header>

<section class="comment-card">
  {{!TODO: place a date here }}

  <div>
    <p>Comment</p>
    <textarea id='newCommentId'>
        <input type="text">
    </textarea>
  </div>

  <button type='submit' value='post'>
    <a href='/homepage'>Add comment</a>
  </button>

</section>