<div class="comment-card">
    <div>
        <textarea>
            <input type="text">
        </textarea>
    </div>
<br>
    <div>
        <textarea>
            <input type="text">
        </textarea>
    </div>
        <input type="submit">Add comment</input>
</div>