<div class="comment-card">
    <div>
        <p>
            <input type="text">
        </p>
    </div>
<br>
    <div>
        <p>
            <input type="text">
        </p>
    </div>
        <input type="submit">Add comment</input>
</div>