<header>
  <H1>My posts</H1>
</header>

<br />

<div class='postSection'>

  <section class='post'>
    <h3>Post title</h3>
    <h4 class='postDate'>Post date</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <button Class='editButton' type='submit' href='/editPost'>
    <a type='button' href='/editPost'>Edit</a>
    </button>
    </button>
    <button Class='deleteButton' type='submit'>
    Delete
    </button>
  </section>

  <section class='post'>
    <h3>Post title</h3>
    <h4 class='postDate'>Post date</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <button Class='editButton' type='submit' href='/editPost'>
    <a type='button' href='/editPost'>Edit</a>
    </button>
    </button>
    <button Class='deleteButton' type='submit'>
    Delete
    </button>
  </section>

  <section class='post'>
    <h3>Post title</h3>
    <h4 class='postDate'>Post date Post</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <button Class='editButton' type='submit' href='/editPost'>
    <a type='button' href='/editPost'>Edit</a>
    </button>
    <button Class='deleteButton' type='submit'>
    Delete
    </button>
  </section>

</div>

<section class='newPostButton'>
  <button type='submit'>
    <a type='button' href='/newPost'>Create New Post</a>
  </button>
</section>
