<header>
  <H1>Edit Post</H1>
</header>

<section class='edit post'>
  {{!TODO: place a date here }}

  <div>

    <input type='text' id='title' placeholder='Title' />

  </div>

  <br />

  <div>
    <p>Comment</p>
    <textarea
      id='newPostInput'
      class='postTitle'
      placeholder='Write your comment'
    >

    </textarea>
  </div>

  <button type='submit' value='post'>
    <a href='/dashboard'>Post</a>
  </button>

</section>