<div id='loginContainer' class='login-container'>
  <form class='login-form'>

    <input type='text' id='email-login' placeholder='E-mail' name='email' />
    <br />
    <input
      type='password'
      id='password-login'
      placeholder='8 Character Password'
      name='password'
    />

    <br />
    {{!-- Change to input instead of button? --}}
    <button type='submit' value='Click to Log In'>
      Login
    </button>
    
      <a type='button' href='/signup'>Signup</a>
    
  </form>
</div>

<script src='/js/login.js'></script>
{{!-- TODO:try removing script and anchor on button for login --}}