<div id="loginContainer" class="login-container">
        <h2>Login</h2>
        <form onsubmit="hideLogin()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            {{!-- ?should this be an input or a button? --}}
            <input type="submit" value="Click to Log In">
            <button type="submit" value="Sign Up"></button>
        </form>
    </div>

    <script src="./js/login.js"></script>