<div id='loginContainer' class='login-container'>
  <form class='login-form'>

    <input type='text' id='email-login' placeholder='E-mail' name='email' />
    <br />
    <input
      type='password'
      id='password-login'
      placeholder='8 Character Password'
      name='password'
    />

    <br />

    <button type='submit' value='Click to Log In'>
      Login
    </button>

    <button type='submit' value='Sign Up'>
      <a type='button' href='/signup'>SignUp</a>
    </button>

  </form>
</div>

<script src='/js/login.js'></script>