<header>
  <H1>New Post</H1>
</header>

<form class='edit post'>
  {{!TODO: place a date here }}

  <div>
    <input id='title' type='text' placeholder='Title' />
  </div>

  <br />

  <div>
    <p>Content:</p>
    <textarea
      id='newPostInput'
      class='postTitle'
      placeholder='Write your comment'
    >
    </textarea>
  </div>

  <button type='submit' value='post'>
    Post
  </button>

</form>

<script src='/js/newPost.js'></script>