<header>
    <H1>Edit Post</H1>
</header>

<section class='edit post'>
  {{!--TODO: place a date here --}}
  <section>

    <div>
      <p>Title</p>
      <textarea>
        <input type='text' />
      </textarea>
    </div>

    <br>

    <div>
      <p>Comment</p>
      <textarea>
        <input type='text' />
      </textarea>
    </div>

    <button type='submit' value='post'>
      {{!-- <a href='/dashboard'>Post</a> --}}
    </button>
  </section>
</section>