<section class='edit post'>
  <section>
    <div>
      <p>
        <input type='text' />
      </p>
    </div>
    <br />
    <div>
      <p>
        <input type='text' />
      </p>
    </div>
  </section>
</section>