<div id='loginContainer' class='login-container'>
  <form class='signup-form'>
    <input
      type='text'
      id='username-signup'
      placeholder='Username'
      name='username'
    />
    <br />
    
    <input 
    type='email' 
    id='email-signup' 
    placeholder='E-mail' 
    name='email' />
    <br />
    <input
      type='password'
      id='password-signup'
      placeholder='8 Character Password'
      name='password'
    />
    <br />
{{!-- Change to input instead of button? --}}
    <button type='submit' value='Sign Up'>
      Signup
    </button>
  </form>
</div>

<script src='/js/signup.js'></script>