* {
  color: gray;
  background-color: black;
  margin: 1%;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(24, 26, 26);
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

button {
  font-size: 15px;
  padding: 0.1em 1.5em;
  letter-spacing: 0.1em;
  position: relative;
  font-family: inherit;
}

.editButton {
  font-size: 13px;
  padding: 0.1em 1.5em;
  letter-spacing: 0.1em;
  position: relative;
  font-family: inherit;
}

text {
  font-size: 17px;
  letter-spacing: 0.1em;
}

input {
  font-size: 15px;
  padding: 0.1em 2.5em;
  letter-spacing: 0.2em;
  position: relative;
  font-family: inherit;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  padding: 50px;
  height: 350px;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  background-color: rgb(24, 26, 26);
  box-shadow: inset 2px 5px 30px rgb(5, 5, 5);
}

.signup-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  padding: 50px;
  height: 350px;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  background-color: rgb(24, 26, 26);
  box-shadow: inset 2px 5px 30px rgb(5, 5, 5);
}

.postSection {
  padding: 50px;
  gap: 0.5em;
  padding: 0.6em;
  background-color: rgb(24, 26, 26);
  box-shadow: inset 5px 9px 50px rgb(5, 5, 5);
}

.post {
  padding: 50px;
  gap: 0.5em;
  padding: 0.6em;
  background-color: rgb(24, 26, 26);
  box-shadow: inset 5px 9px 50px rgb(5, 5, 5);
}

.postDate {
  display: flex;
  justify-content: flex-end;
}

.newPostButton {
  display: flex;
  justify-content: flex-end;
}
